In [14]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [15]:
df  = pd.read_csv('/Users/a1/Downloads/new_data.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   event_time     object
 2   event_type     object
 3   product_id     int64
 4   category_id    int64
 5   category_code  object
 6   brand          object
 7   price          float64
 8   user_id        int64
 9   user_session   object
dtypes: float64(1), int64(4), object(5)
memory usage: 762.9+ MB

In [17]:
print(df.shape)

(10000000, 10)

In [18]:
print(df.columns)

Index(['Unnamed: 0', 'event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

T-test

In [19]:
print(df.head())

   Unnamed: 0               event_time event_type  product_id
0           0  2019-11-01 00:00:00 UTC       view     1003461  \
1           1  2019-11-01 00:00:00 UTC       view     5000088
2           2  2019-11-01 00:00:01 UTC       view    17302664
3           3  2019-11-01 00:00:01 UTC       view     3601530
4           4  2019-11-01 00:00:01 UTC       view     1004775

           category_id              category_code   brand   price    user_id
0  2053013555631882655     electronics.smartphone  xiaomi  489.07  520088904  \
1  2053013566100866035  appliances.sewing_machine  janome  293.65  530496790
2  2053013553853497655                        NaN   creed   28.31  561587266
3  2053013563810775923  appliances.kitchen.washer      lg  712.87  518085591
4  2053013555631882655     electronics.smartphone  xiaomi  183.27  558856683

                           user_session
0  4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1  8e5f4f83-366c-4f70-860e-ca7417414283
2  755422e7-9040-477b-9bd2-6a6e8fd97387
3  3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4  313628f1-68b8-460d-84f6-cec7a8796ef2

In [20]:
df.describe(include='all')

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
count,1.000000e+07,10000000,10000000,1.000000e+07,1.000000e+07,6697210,8589537,1.000000e+07,1.000000e+07,10000000
unique,NaN,523423,3,NaN,NaN,126,3373,NaN,NaN,2190461
top,NaN,2019-11-05 17:23:19 UTC,view,NaN,NaN,electronics.smartphone,samsung,NaN,NaN,4488e77a-9901-4c4b-b162-47a224ceab51
freq,NaN,113,9731128,NaN,NaN,2543371,1158050,NaN,NaN,504
mean,5.000000e+06,NaN,NaN,1.100008e+07,2.057828e+18,NaN,NaN,2.925741e+02,5.354292e+08,NaN
std,2.886751e+06,NaN,NaN,1.228346e+07,1.943274e+16,NaN,NaN,3.538111e+02,2.037214e+07,NaN
min,0.000000e+00,NaN,NaN,1.000365e+06,2.053014e+18,NaN,NaN,0.000000e+00,1.030022e+07,NaN
25%,2.500000e+06,NaN,NaN,1.005252e+06,2.053014e+18,NaN,NaN,6.667000e+01,5.159950e+08,NaN
50%,5.000000e+06,NaN,NaN,5.100722e+06,2.053014e+18,NaN,NaN,1.653100e+02,5.306267e+08,NaN
75%,7.499999e+06,NaN,NaN,1.640001e+07,2.053014e+18,NaN,NaN,3.654600e+02,5.548916e+08,NaN
max,9.999999e+06,NaN,NaN,6.210003e+07,2.180737e+18,NaN,NaN,2.574070e+03,5.684226e+08,NaN

In [21]:
df.isnull().sum().sort_values(ascending=False)

category_code    3302790
brand            1410463
Unnamed: 0             0
event_time             0
event_type             0
product_id             0
category_id            0
price                  0
user_id                0
user_session           0
dtype: int64

In [26]:
samsung_data = df[df["brand"] == "Samsung"]["price"]
apple_data = df[df["brand"] == "Apple"]["price"]
statistic, p_value = stats.ttest_ind(samsung_data, apple_data)
if p_value < 0.05:
    print("根据假设检验结果，在消费方面，三星高于苹果（p < 0.05）")
else:
    print("根据假设检验结果，在消费方面，三星和苹果没有显著差异（p >= 0.05）")
print("p-value:", p_value)

根据假设检验结果，在消费方面，三星和苹果没有显著差异（p >= 0.05）
p-value: nan

In [27]:
samsung_data = df[df["brand"] == "Samsung"]["price"]
apple_data = df[df["brand"] == "Apple"]["price"]
samsung_data = samsung_data.dropna()
apple_data = apple_data.dropna()
samsung_data = samsung_data[(np.abs(stats.zscore(samsung_data)) < 3)]
apple_data = apple_data[(np.abs(stats.zscore(apple_data)) < 3)]
statistic, p_value = stats.ttest_ind(samsung_data, apple_data)
print("p-value:", p_value)

p-value: nan

: